<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Team Member</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container d-flex flex-row flex-wrap justify-content-around">
      <div class="row w-100"><h1>Japan Idols</h1></div>
      <div class="row w-100 d-flex flex-row flex-wrap justify-content-between">
        <% IdolsData.map((idol)=>{ %>
        <div class="post-preview w=25 m-3">
          <a href="/post/<%= idol._id %>">
            <div class="d-flex flex-column flex-nowrap align-items-center justify-content-center">
              <div>
                <img style="display: block; height: 200px" class="img-thumbnail rounded" alt="<%= idol.name %>" src="<%= idol.images[1].thumbnail %>" />
              </div>
              <h5 class="post-title"><%= idol.name %></h5>
            </div>
          </a>
        </div>
        <hr />
        <% }) %>
      </div>

      <div class="row w-100"><h1>Us Star</h1></div>

      <div class="row w-100 d-flex flex-row flex-wrap justify-content-around">
        <% StarData.map((idol)=>{ %>
        <div class="post-preview w-25">
          <a href="/post/<%= idol._id %>">
            <div class="d-flex flex-column flex-nowrap align-items-center justify-content-center">
              <div>
                <img style="display: block; height: 200px" class="img-thumbnail rounded" alt="<%= idol.name %>" src="<%= idol.images[1].thumbnail %>" />
              </div>
              <h5 class="post-title"><%= idol.name %></h5>
            </div>
          </a>
        </div>
        <hr />
        <% }) %>
      </div>
    </div>
    <!-- Main Content -->

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
