<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Team Member</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <% for (var i = 0; i < idols.length; i++) { %>
    <div class="post-preview">
      <a href="/post/<%= idols[i]._id %>">
        <h2 class="post-title"><%= idols[i].name %></h2>
      </a>
    </div>
    <div><% var {images} = idols[i] %> <% console.log(images) %> <img style="display: block; height: 150px" class="img-thumbnail rounded" alt="<%= idols[i].name %>" src="<%= images[0].thumbnail %>" /></div>
    <% } %>
    <hr />

    <!-- Main Content -->

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
