<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>VnNextJS</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <% for (var i = 0; i < SingerCollection.length; i++) { %>
      <div class="row">
        <div class="col-lg-4 col-md-5 mx-auto">
          <img style="display: block; height: 250px" class="img-thumbnail rounded" alt="" src="<%= SingerCollection[i].image %>" />
        </div>

        <div class="col-lg-8 col-md-5 mx-auto">
          <div class="post-preview">
            <a href="/post/<%= SingerCollection[i]._id %>">
              <h2 class="post-title"><%= SingerCollection[i].song %></h2>
              <h3 class="post-subtitle"><%= SingerCollection[i].name %></h3>
            </a>
          </div>

          <p class="post-meta">
            Posted by
            <a href="#"><%= SingerCollection[i].author %></a>
            on <%= SingerCollection[i].datePosted.toDateString() %>
          </p>
          <hr />
        </div>
      </div>
      <% } %>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>

    <hr />
    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
